.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to bottom, rgb(51, 44, 44), rgba(219, 219, 219, 0));
}

.problem{
  position:absolute;
  top:0%;
  text-align:center;
}

.problem ul {
    text-align: left;
    text-shadow: 0 3px 0 rgba(124, 91, 91, 0.801);
    font-weight: bold;
}

.listContainer {
  margin-top: 3rem;
  height: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
}